# Node stuff
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
forever/
.DS_Store
jshint.xml

pids
logs
results
node_modules

# Defaults
tmp/

# Styles
.sass-cache
*.css

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Generated
build
doc
dump.rdb
gitinfo.json
*.css.map

# jshint reports
jshint*.xml
